
body,
html,
* {
  font-size: 10px;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: 'Barlow Condensed', sans-serif;
  background-color: var(--secondary);
}

.title {

  font-size: 8rem;
  background-color: var(--secondary);
  margin: 2rem auto;
  text-align: center;
  width: 50rem;
  -webkit-backdrop-filter: blur(25px) saturate(10%);
  border-radius: 30px;
  transition: all 0.3s;
  border-radius: 5px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container_2 {
  font-size: 10rem;
  border: var(--primary);
  margin: 2rem auto;
  text-align: center;
  align-items: center;
  width: 100rem;
  -webkit-backdrop-filter: blur(25px) saturate(10%);
  border-radius: 10px;
  transition: all 0.3s;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  width: 130px;
  height: 50px;
  transition: all 0.3s;
  font-size: 2rem;
  border-radius: 12px;
  background-color:white;
}

.btn:hover {
  transform: scaleX();
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

}

.card {
  height: 50vh;
  width: 23%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;
  -webkit-backdrop-filter: blur(25px) saturate(20%);
  border-radius: 12px;
  border: 10px solid var(--tertiary)

}


.card-title {
  font-size: 2.2rem;
  margin: 0.5rem 0;
  text-transform: uppercase;
  background-color: var(--primary);
  border: 1px var(--secondary);
  box-shadow: 10px 10px var(--tertiary);
}

.card{
  width: 300px;
  height: 400px;
}
.cardimg{
  width:50%

}

.name,.price{
  font-size: large;
  background-color: white;
}

.btn_2 {
  width: 130px;
  height: 50px;
  transition: all 0.3s;
  font-size: 2rem;
  border-radius: 12px;
  position: to;
}




:root{
  --light-blue:#cde3f8;
  --blue:#6b9aca;
  --dark-blue:#1977d4;
  --light-purple:#da8df8;
  --purple:#c963f1; 
  --dark-purple:#9f41c4;
}

.theme{
  width: 130px;
  height: 50px;
  transition: all 0.3s;
  font-size: 2rem;
  border-radius: 12px;
  justify-content: space-between;
  background-color:white;
  margin:10px;
}


body.blue{
  --secondary: var(--light-blue);
  --primary: var(--blue);
  --tertiary: var(--dark-blue);
}

body.purple{
  --secondary: var(--light-purple);
  --primary: var(--purple);
  --tertiary: var(--dark-purple);
}



/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */